<header id="header" class="alt">
  <!--<h1><a href="index.html">Open English</a></h1>-->
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Eduardo <span class="icon fa-graduation-cap"></span> 1 <span class="icon fa-flag-checkered"></span> 1 </span></a>
        <div id="menu">
          <ul>
            <li><img src="assets/css/images/home_30.png" class="middle"> <a href="index.html">Inicio</a></li>
            <li><img src="assets/css/images/progress_30.png" class="middle"><a href="generic.html">Progreso</a></li>
            <li><img src="assets/css/images/edit_30.png" class="middle"><a href="elements.html">Curso</a></li>
            <li><img src="assets/css/images/user2_30.png" class="middle"><a href="elements.html">Cuenta</a></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>

<a link="#"><canvas id="logoCanvas"  width="610" height="200">
      Your browser does not support the HTML5 canvas tag.</canvas>
</a>