<footer id="footer">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    
    <div class="row">
      <div class="col-md-2 col-xs-0">
      </div>
      <div class="col-md-3 col-xs-5 general-col">
        <div class="row">
          <div class="col-xs-12 col col-head">
            Soporte
          </div>
          <div class="col-xs-12 col col-item">
            <a>Preguntas Frecuentes</a>
          </div>
          <div class="col-xs-12 col col-item">
            <a>Ayuda para clases en vivo</a>
          </div>
          <div class="col-xs-12 col col-item">
            <a>Adobe Connect Guia rápida</a>
          </div>
          <div class="col-xs-12 col col-item">
            <a>Indice del curso</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-xs-4 general-col">
        <div class="row">
          <div class="col-xs-12 col col-head">
            Contacto
          </div>
          <div class="col-xs-12 col col-item">
            <a>Oficinas Corporativas</a>
          </div>
          <div class="col-xs-12 col col-item">
            <a>0810-810-6737</a>
          </div>
          <div class="col-xs-12 col col-item">
            <a class="btn btn-warning">Contactenos</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-xs-3 general-col">
        <div class="row">
          <div class="col-xs-12 col col-head">
            Comunidad
          </div>
          <div class="col-xs-12 col col-item">
            <a>Historias de éxito</a>
          </div>
          <div class="col-xs-12 col col-item">
            <a><img src="assets/css/images/success.jpg" class="image"></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="copyright">
      
      <h4>Términos del servicio &nbsp; Politicas de privacidad:</h4>
      <p>Derechos de autor 2014 Open English LLC. Todos los derechos reservados.<br>
      El nombre Open English y el logo de Open English son una marca registrada</p>
    </div>
  </footer>