<div id="floating-footer">
  <div class="row">
    <div class="col-xs-3">
      <a><span class="fa fa-sort-alpha-asc" title="Diccionario"></span></a>
    </div>
    <div class="col-xs-3">
      <a><span class="fa fa-pencil-square-o" title="Corrector"></span></a>
    </div>
    <div class="col-xs-3">
      <a><span class="fa fa-book" title="Guía de Gramática"></span></a>
    </div>
    <div class="col-xs-3">
      <a><span class="fa fa-language" title="Traductor"></span></a>
    </div>
  </div>
</div>