
  <section id="banner">
    <div class="inner">
      <h2>Bienvenido Eduardo<br>a Open English</h2>
      
    </div>

    <div id="gtco-counter" class="gtco-bg gtco-cover gtco-counter">
      <div class="overlay"></div>
      <div class="gtco-container">
        <div class="row">
          <div class="display-t">
            <div class="display-tc">
              <div class="col-sm-3 animate-box">
                <div class="feature-center">
                  <div class="row card">
                    <div class="col-sm-12 col-xs-4">
                      <span class="fa">
                        <span class="fa-graduation-cap"></span>
                      </span>
                    </div>

                    <div class="col-sm-12 col-xs-4" >
                      <span *ngIf="socialInfo" class="counter js-counter" data-from="0" data-to="22070" data-speed="5000" data-refresh-interval="50">{{socialInfo.level}}</span>
                    </div>
                    
                    <div class="col-sm-12 col-xs-4">
                      <span class="counter-label">Nivel</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 animate-box">
                <div class="feature-center">
                  <div class="row card">
                    <div class="col-sm-12 col-xs-4">
                      <span class="fa">
                        <span class="fa-flag-checkered"></span>
                      </span>
                    </div>

                    <div class="col-sm-12 col-xs-4">
                      <span *ngIf="socialInfo" class="counter js-counter" data-from="0" data-to="97" data-speed="5000" data-refresh-interval="50">{{socialInfo.unit}}</span>
                    </div>
                    
                    <div class="col-sm-12 col-xs-4">
                      <span class="counter-label">Unidad</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 animate-box">
                <div class="feature-center">
                  <div class="row card">
                    <div class="col-sm-12 col-xs-4">
                      <span class="fa">
                        <span class="fa-star"></span>
                      </span>
                    </div>
                    
                    <div class="col-sm-12 col-xs-4">
                      <span *ngIf="socialInfo" class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">{{socialInfo.rewards}}</span>
                    </div>
                    
                    <div class="col-sm-12 col-xs-4">
                      <span class="counter-label">Premios </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 animate-box">
                <div class="feature-center">
                  <div class="row card">
                    <div class="col-sm-12 col-xs-4">
                      <span class="fa">
                        <span class="fa-users"></span>
                      </span>
                    </div>

                    <div class="col-sm-12 col-xs-4">
                      <span *ngIf="socialInfo" class="counter js-counter" data-from="0" data-to="212023" data-speed="5000" data-refresh-interval="50">{{socialInfo.friends}}</span>
                    </div>
                    
                    <div class="col-sm-12 col-xs-4">
                      <span class="counter-label">Amigos</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--<div class="row start more scrolly">
      <div class="col-xs-5">
      
      </div>
      
      <a class="btn btn-warning col-xs-2">START</a>
      <div>
      
      </div class="col-xs-5">
    </div>-->
    
    
    <a href="#one" class="more scrolly"><span class="fa fa-arrow-right"> </span> &nbsp; <span class="more-start">Start</span> &nbsp; <span class="fa fa-arrow-left"> </span></a> 
  

  </section>